   .signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
  }
  .signin-box {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
  }
  .h2 {
    /* text-align:left; */
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  .form-group {
    margin-bottom: 5px;
    margin-right: 1px;
  }
 
  label {
    display: block;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
  }
  input {
    width: 100%;
    margin-left: 2px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
  }
  .forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }
  .forgot-password a {
    color: #0073bb;
    text-decoration: none;
    margin: 7px;
  }
  .checkbox label {
    font-size: 12px;
    margin-top: 7px;
  }
  .checkbox a {
    color: #0073bb;
    text-decoration: none;
 }
 .checkbox input{
    justify-content: end;
 }
  .signin-button {
    width: 100%;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    color: #111;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .create-account {
    margin-top: 20px;
    text-align: center;
   }
  .create-button {
    background-color: #e7e9ec;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 14px;
    width: 100%;
  }