
.container {
  width: 25%;
  border: 2px solid #ccc;
  margin: 40px;
  padding: 40px;
  margin-left: 400px;
  border-radius: 5px;
  height:210px;
  background-color: white;
}

h1 {
  text-align: left;
  margin-left: 90px;
}
.input-group {
  margin-bottom: 20px;
}
p{
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h4{
  padding: 10px;
  font-size: large;
}
.continue-button {
  background-color: #f0ad4e;
  color: white;
  font-size: medium;
  width: 100%;
  margin-left: 5px;
  padding-right: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}